{% comment %}

calculate power of x

input: x, n
output: res

{% endcomment %}

<!--h4>TRACE: math_pow: x {{ x }}, n {{ n }}</h4-->

{% if n < 0 %}

    <h3>ERROR: math_pow: negative power, x {{ x }}, n {{ n }}</h3>

    {% assign res = 0.0 %}

{% elsif n == 0 %}

    {% assign res = 1.0 %}

{% else %}

    {% assign res = 1.0 %}

    {% for i in (1..n) %}

        {% assign res = res | times: x %}

        <!--h4>DEBUG: math_pow: iter {{ i }} {{ x }} = {{ res }}</h4-->

    {% endfor %}


{% endif %}

<!--h7>DEBUG: math_pow: {{ x }}, {{ n }} = {{ res }}</h7-->
